apiVersion: v1
kind: Secret
metadata:
  name: database-credentials
  namespace: demo
type: Opaque
stringData:
  db-password: ENC[AES256_GCM,data:some-encrypted-string,iv:iv-value,tag:tag-value,type:str]
sops:
  kms: []
  gcp_kms: []
  azure_kv: []
  hc_vault: []
  age:
    - recipient: age1example
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtYlV2...
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2023-10-27T10:00:00Z"
  mac: ENC[AES256_GCM,data:mac-value,iv:iv-value,tag:tag-value,type:str]
  pgp: []
  unencrypted_suffix: _unencrypted
  version: 3.7.3
